.menu {
  display: flex;
  flex-direction: row;

  .active {
    left: 0 !important;
  }

  .burger {
    display: none;

    @media (max-width: 800px) {
      & {
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
        cursor: pointer;
        z-index: 100;
      }
    }
  }


  .menu_wrapper {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items: center;
    @media (max-width: 800px) {
      & {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: fixed;
        top: 0;
        left: -100%;
        right: 0;
        
        background-color: rgb(247, 231, 225);
        transition: left 0.5s;
        height: 50vh;
        width: 100%;

        a {
          font-size: 22px;
        }
      }
    }


    .menu_item {
      /* используем глобальный размер шрифта font-size: 18px; */
      font-weight: 600;
      padding: 15px 10px;

      &:hover {
        background-color: var(--hover-color);
        color: white;
      }
    }

    .active {
      border-color: transparent;
      border-bottom: 4px solid var(--main-color);
    }
  }
}
