.wrapper {
  padding: 10px;
}

.thumbs_wrapper {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.thumbs_item {
  padding: 5px;
  cursor: pointer;
}

.main_view {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.left_button {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-image: url('/components/reshot-icon-arrow-left.svg');
  z-index:  100;
}

.right_button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-image: url('/components/reshot-icon-arrow-right.svg');
  z-index:  100;
}