:root {
  --main-color: #ef6419;
  --hover-color: #b25522;
  --border-color: #b7b7b7;
  --max-width: 1100px;
  --foreground-rgb: 0, 0, 0;
  --font-title-size: 20px;
  --font-main-size: 18px;
  --font-small-size: 14px;
  /* !is not used in media */
  --burger-breakpoint: 800px;
  /* end */
  font-family: var(--font-robotoFlex), sans-serif;

  font-size: var(--font-main-size);

  @media (max-width: 800px) {
    font-size: 12px;
    --font-title-size: 14px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: var(--font-title-size);
}

input {
  border: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
}

.main {
  display: flex;
  flex-direction: column;
  padding: 0 4rem;
}

/* shared styles */
.menu_catalog {
  font-size: var(--font-main-size);
  font-weight: 800;
  padding: 15px 10px;

  &:hover {
    background-color: var(--hover-color);
    color: white;
  }
}

.title_section {
  font-size: var(--font-title-size);
  color: var(--hover-color);
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 20px;
}

.button_title {
  font-size: var(--font-main-size);
  font-weight: 800;

  &:hover {
    background-color: var(--hover-color);
    color: white;
  }
}

.error_page {
  padding: 20px;
}

.posts_mix {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  .left {
    width: 70vh;
  }

  .rigth {
    width: 25vh;
  }
}


.footer {
  background-color: var(--border-color);
  font-size: var(--font-small-size);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  gap: 20px;

  a {
    text-decoration: underline;
  }

  .center {
    font-style: normal;

    .social {
      text-align: center;
      padding: 10px;
      display: flex;
      gap: 20px;
    }
  }

  .right {
    text-align: right;
    line-height: 1.5;
  }
}

/* shared components */

.Button {
  border-radius: 5px;
  color: black;
  border: solid 2px var(--main-color);
  background-color: white;
  cursor: pointer;
  font-family: var(--font-robotoFlex);

  &:hover {
    background-color: var(--hover-color);
    color: white;
  }
}

.ButtonActive {
  background-color: var(--main-color);
  color: white;
}

.Input_wrapper {
  border-color: var(--main-color);
  border-radius: 5px;
  padding: 3px;
  width: 100%;
  border-style: 1px solid;
  font-size: var(--font-main-size);

  /* padding: 0 10px; */

  &:focus {
    outline: none;
    border-color: var(--hover-color);
    border-style: 2px solid;
  }
}
