.goods {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-bottom: 1rem;

    .left {
      display: flex;
      flex-direction: column;

    }

    .right {

      .down {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        gap: 20px;

      }
    }

}

