.CardProductVertical {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 200px;
  cursor: pointer;

  @media (max-width: 500px) {
    & {
      max-width: 140px;
    }
  }

  .top {
    position: relative;
    width: 200px;
    height: 200px;
    object-fit: cover;

    @media (max-width: 560px) {
      & {
        width: 140px;
        height: 140px;
      }
    }
  }

  .card-down {
    text-align: center;

    .card-size {
      display: flex;
      flex-direction: row;
      gap: 5px;
      padding: 10px 0;
      justify-content: center;

      .card-sizes {
        padding-right: 5px;
      }
    }
    
    .price {
      font-weight: 800;      
    }
  }
}