.good {
  .title {
    padding: 20px 0;
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .left {
    }

    .right {
      padding-left: 20px;
      display: grid;
      grid-template-columns: 2fr 3fr;
      /* grid-template-rows: repeat(4, 1rem); */
      grid-auto-rows: minmax(1rem, auto);
      gap: 20px;
      align-items: start;

      .right__title {
        padding-bottom: 10px;

        .right__store {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
        }
      }
    }
  }
}
